- var config = { title: 'Single Element CSS Spinners',description: 'A collection of loading spinners animated with CSS' }
doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title=config.title
		meta(name="viewport",content="width=device-width")
		meta(name="description",content=config.description)
		meta(property="og:title",content=config.title)
		meta(property="og:type",content="website")
		meta(property="og:description",content=config.description)
		meta(property="og:image",content="http://projects.lukehaas.me/css-loaders/images/css-loaders-screenshot.jpg")
		meta(property="og:url",content="http://projects.lukehaas.me/css-loaders/")
		script(src="script/modernizr-2.8.2.js")
		link(rel="stylesheet",href="css/main.css")
		link(rel="stylesheet",href="http://fonts.googleapis.com/css?family=Lato:300")
		- for(var i = 1;i < 9;i++)
			link(rel="stylesheet",href="css/load#{i}.css")
	body
		header
			div.inner
				h1=config.title
		main
			div.inner
				- for(var i = 1;i < 9;i++)
					div(class="load-container load#{i}")
						div.loader Loading...
						a(href="#load#{i}") &lt; View Source &gt;

			a.github(href="https://github.com/lukehaas/css-loaders",target="_blank"): img(src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67",alt="Fork me on GitHub",data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")
			div(class="overlay hidden")
			//really pissed off Jade can't handle vars in includes - should be able to just loop this:
			div(class="source hidden",id="load1")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load1.css
			div(class="source hidden",id="load2")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load2.css
			div(class="source hidden",id="load3")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load3.css
			div(class="source hidden",id="load4")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load4.css
			div(class="source hidden",id="load5")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load5.css
			div(class="source hidden",id="load6")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load6.css
			div(class="source hidden",id="load7")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load7.css
			div(class="source hidden",id="load8")
				textarea.markup("readonly"): <div class="loader">Loading...</div>
				textarea.css("readonly"): include ../css/load8.css
		footer
			div.inner
				a.twitter(href="http://twitter.com/lukehaas",target="_blank")
					img(src="images/me.jpeg",width="45",height="45",alt="Twitter pic")
					span Created by @lukehaas
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="script/main.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-50992962-1', 'lukehaas.me');
			ga('send', 'pageview');